:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Rowdies', sans-serif;

  --primary-white-cl: #ffffff;
  --primary-accent-cl: #ff9f0e;
  --primary-dark-cl: #181817;
  --secondary-accent-cl: #ffaa00;
  --secondary-grey-cl: #839aa9;
  --secondary-light-cl: #f9f9ff;
  --secondary-light-blue-cl: #f1f3ff;
}
