.btn {
  padding: 8px 24px;
  font-size: 16px;
  color: var(--primary-white-cl);
  background: var(--primary-accent-cl);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 8px;
  }
  &--small {
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-white-cl);
    background: var(--primary-accent-cl);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    width: fit-content;
    margin: 0 auto;
    &:hover {
      background: var(--hover-accent-cl);
    }
  }
  &:hover {
    background: var(--hover-accent-cl);
  }
}
.btn-learn {
  background: url('../images/activity/mobile-learn-more-bg.svg') no-repeat
    center/contain;
  width: 73px;
  height: 72px;
  border: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  z-index: 3;
  @media screen and (min-width: $bp-tablet) {
    bottom: -7px;
    left: 50%;
    transform: translateX(-120px);
  }
  @media screen and (min-width: $bp-desktop) {
    background: url('../images/activity/learn-more-bg.svg') no-repeat
      center/cover;
    width: 161px;
    height: 123px;
    top: -24px;
    left: 320px;
    transform: none;
  }
  &:hover &__text {
    color: var(--primary-accent-cl);
  }
  &__text {
    font-weight: 300;
    font-size: 8px;
    color: var(--primary-white-cl);
    transition: color 0.2s;
    @media screen and (min-width: $bp-desktop) {
      font-weight: 400;
      font-size: 16px;
    }
  }
}
