.form-terms {
  margin: 0 auto;
  &__label {
    color: var(--secondary-grey-cl);
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
  }
  &__label-contacts {
    margin: 0 auto;
  }
  &__control {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }
  &__icon {
    cursor: pointer;
    flex-shrink: 0;
  }
  &__icon--empty {
    display: block;
  }
  &__icon--checked {
    display: none;
  }
  &__control:checked ~ &__icon--empty {
    display: none;
  }
  &__control:checked ~ &__icon--checked {
    display: block;
  }
}
