.activity-section {
  padding-top: 40px;
  padding-bottom: 20px;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $bp-desktop) {
    padding-top: 160px;
    padding-bottom: 119px;
  }
  &__container {
    display: flex;
    gap: 20px;
    position: relative;
  }
  &__content {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    @media screen and (min-width: $bp-desktop) {
      margin: 0 0 0 auto;
    }
  }
  &__title {
    margin-bottom: 24px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 5%;
    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }
  &__image {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }
}
