.hero-section {
  padding-top: 73px;
  padding-bottom: 85px;
  background-image: url('../images/hero/mobile-hero-bg.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 212px;
    padding-bottom: 236px;
    background-image: url('../images/hero/hero-bg.svg');
  }
  @media screen and (min-width: $bp-desktop) {
    padding-top: 212px;
    padding-bottom: 236px;
  }
  &__container {
    display: flex;
    position: relative;
    gap: 20px;
    justify-content: center;
    @media screen and (min-width: $bp-desktop) {
      justify-content: flex-start;
    }
  }
  &__title {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 400;
    max-width: 303px;
    margin-bottom: 24px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 52px;
      letter-spacing: 5%;
      max-width: 535px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: $bp-desktop) {
      font-size: 72px;
      max-width: 635px;
    }
  }
  &__text {
    line-height: 1.5;
    max-width: 300px;
    margin: 0 auto 16px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
      max-width: 330px;
    }
    @media screen and (min-width: $bp-desktop) {
      margin-inline: 0;
      max-width: 420px;
    }
  }
  &__content {
    text-align: center;
    @media screen and (min-width: $bp-desktop) {
      text-align: left;
    }
  }
}
